@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";


$light-color: #ffffff;
$accent-color: #65e496;
$grey-color: #696980;
$title-color: #44444f;
$bg-color: #f5f6fa;


body {
    font-family: "Roboto Slab";
    font-weight: 400;
    max-width: 1600px;
    margin: 0 auto;
}

h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
}

.wrapper {
    max-width: 1172px;
    margin: 0 auto;
}

.page-main {
    background-image: url(../img/bg-main.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: $light-color;
    padding-bottom: 160px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 51px;
    padding-bottom: 181px;
    max-width: 1170px;
    margin: 0 auto;
    &__logo {
        display: block;
        background-image: url(../img/logo.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 137px;
        height: 28px;
    }
    &-list {
        display: flex;
        justify-content: flex-end;
        list-style-type: none;
        padding-left: 0;
        &__item {
            margin-left: 20px;
            font-family: "Open Sans";
            font-size: 16px;
            padding-top: 4px;
            padding-bottom: 5px;
            letter-spacing: 0.8px;
            border-bottom: 1px solid transparent;
            transition: 0.3s;
            &:hover {
                border-bottom: 3px solid $accent-color;
            }
        }
        &__item.active {
            border-bottom: 3px solid $accent-color;
        }
        &__link {
            color: $light-color;
            text-decoration: none;
        }
    }
}

.block-book {
    display: flex;
    justify-content: space-between;
    &-demo {
        display: block;
        position: relative;
        flex-basis: 445px;
        width: 500px;
        height: 639px;
        background-image: url(../img/book.svg);
        background-repeat: no-repeat;
        background-size: count;
        &__title {
            position: absolute;
            top: 106px;
            left: 131px;
            color: $light-color;
            font-size: 36px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1.44px;
            span {
                display: block;
                color: $accent-color;
                font-family: "Open Sans";
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0.7px;
                text-transform: none;
            }
        }
        &__author {
            position: absolute;
            display: block;
            left: 87px;
            bottom: 59px;
            color: $accent-color;
            font-family: "Open Sans";
            font-size: 14px;
            letter-spacing: 0.7px;
        }

    }
}

.block-text {
    flex-basis: calc(100% - 500px);
    &_anderson {
        margin-top: -19px;
        margin-left: 108px;
    }
    &__name {
        font-family: "Open Sans";
        font-size: 18px;
        letter-spacing: 0.9px;
        margin-bottom: 29px;
        &_margin {
            margin-top: 17px;
            margin-bottom: 20px;
        }
    }
    &__title {
        font-size: 48px;
        font-weight: 700;
        letter-spacing: 1.92px;
        &_h1 {
            text-transform: uppercase;
        }
        &_h2 {
            color: $title-color;
        }
        span {
            display: block;
            margin-top: 11px;
            margin-bottom: 40px;
            color: $accent-color;
            font-size: 18px;
            font-weight: 400;
            text-transform: none;
            letter-spacing: 0.9px;
        }
    }
    &__paragraph {
        margin-bottom: 56px;
    }
    &__description {
        display: flex;
        font-family: "Open Sans";
        font-size: 15px;
        line-height: 24px;
        letter-spacing: 0.75px;
        padding-bottom: 23px;
        max-width: 574px;
        &_date {
            padding-bottom: 7px; 
        }
    }
    &__subtitle {
        color: $title-color;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.9px;
        padding-bottom: 18px;
    }
    &__btn {
        display: block;
        font-family: "Roboto Slab";
        font-size: 18px;
        letter-spacing: 0.72px;
        padding: 16px 23px 14px 29px;
        border-radius: 3px;
        background-image: linear-gradient(to left, rgba(101, 228, 206, 0.7) 0%, rgba(101, 228, 161, 0.7) 100%);
        box-shadow: 0 2px 0 rgba(101, 228, 125, 0.5);
        text-decoration: none;
        color: $light-color;
        margin-top: 22px;
        margin-bottom: 24px;
        &_width_200 {
            width: 200px;
        }
        &_width_185 {
            width: 185px;
        }
        &_width_ {
            width: 88px;
            margin-top: 0;
            padding: 15px 15px 15px 35px;
        }
    }
    small {
        display: block;
        font-family: "Open Sans";
        font-size: 12px;
        font-style: italic;
        letter-spacing: 0.6px;
        margin-left: -2px;
    }
}

.page {
    &_padding_159 {
        padding-top: 159px;
        padding-bottom: 161px;
    }
    &_padding_149 {
        padding-top: 149px;
        padding-bottom: 230px;
    }
    &_padding_other-books_ {
        padding-top: 150px;
        padding-bottom: 230px;
    }
    &_padding_other-books {
        margin-top: 150px;
        margin-bottom: 1173px;
    }
    &_padding_180 {
        margin-bottom: 165px;
    }
    &_padding_blog {
        padding-top: 149px;
        padding-bottom: 150px;
    }
    &_grey {
        background-color: $bg-color;
    }
    color: $grey-color;
    &__title {
        text-align: center;
        font-size: 48px;
        font-weight: 700;
        letter-spacing: 1.92px;
        color: $title-color;
        span {
            display: block;
            margin-top: 11px;
            margin-bottom: 40px;
            color: $accent-color;
            font-size: 18px;
            font-weight: 400;
            text-transform: none;
            letter-spacing: 0.9px;
        }
    }
    &__btn {
        display: block;
        margin: 0 auto;
        font-family: "Roboto Slab";
        font-size: 18px;
        letter-spacing: 0.72px;
        padding: 15px 32px 14px 34px;
        border-radius: 3px;
        background-image: linear-gradient(to left, rgba(101, 228, 206, 0.7) 0%, rgba(101, 228, 161, 0.7) 100%);
        box-shadow: 0 2px 0 rgba(101, 228, 125, 0.5);
        color: $light-color;
        &_button {
            border: none;
            outline: none;
            cursor: pointer;
        }
        &_link {
            width: 200px;
            text-decoration: none;
            margin-top: 82px;
            margin-bottom: 10px;
        }
    }
}

.block-author {
    display: flex;
    justify-content: space-between;
}

.block-photo {
    position: relative;
    &__svg {
        position: absolute;
        z-index: -1;
        &_book {
            right: 0;
        }
        &_anderson {
            left: 0;
        } 
    }
    &__img {
        margin-top: 48px;
        &_book {
            margin-right: 44px;
        }
        &_anderson {
            margin-left: 51px;
        }
    }
}

.block-counter {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    margin-top: 180px;
    &__item {
        justify-self: center;
        font-family: "Open Sans";
        font-size: 18px;
        letter-spacing: 0.72px;
        text-align: center;
        &_center {
            padding: 0 0 0 45px;
        }
            span {
            display: block;
            color: $accent-color;
            font-size: 80px;
            font-family: "Roboto Slab";
            font-weight: 100;
            letter-spacing: 3.2px;
            padding-bottom: 13px;
        }        
    }
}

.block-about {
    display: flex;
    justify-content: space-between;
    &__text {
        flex-basis: 40%;
    }
    &__table {
        flex-basis: 46%;
        margin-left: 100px;
        }
    &__subtitle {
        font-size: 24px;
        font-weight: 700;
        color: $title-color;
        letter-spacing: 1.2px;
        padding-top: 43px;
        padding-bottom: 17px;
        &_margin_plus {
            padding-left: 1px;
        }
        &_margin_minus {
            margin-left: -33px;
        }
    }
    &__description {
        color: $grey-color;
        font-family: "Open Sans";
        font-size: 15px;
        line-height: 24px;
        letter-spacing: 0.75px;
    }
    &__featured {
        display: flex;
        justify-content: flex-start;
        padding-top: 33px;
        padding-left: 3px;
        &-text {
            color: #44444f;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 0.9px;
        }
        &-list {
            list-style-type: none;
            margin-left: 23px;
        }
        &-item {
            display: inline-block;
            font-size: 18px;
            padding-right: 13px;
        }
        &-link {
            text-decoration: none;
            color: $accent-color;
        }
    }
    &__list {
        display: flex;
        justify-content: flex-start;
        flex-flow: column wrap;
        height: 175px;
        list-style-type: none;
        margin-top: 7px;
    }
    &__item {
        letter-spacing: 0.75px;
        font-family: "Open Sans";
        font-size: 15px;
        color: $grey-color;
        margin-right: 63px;
        margin-top: 0;
        margin-bottom: 10px;
        &::before {
            content: "+";
            margin-left: -32px;
            margin-right: 13px;
            padding-left: 6px;
            padding-right: 7px;
            background-image: linear-gradient(to left, rgba(101, 228, 206, 0.7) 0%, rgba(101, 228, 161, 0.7) 100%);            
            color: $light-color;
            line-height: 22px;
        }
        &:hover:before {
            background-color: $title-color;
        }
    }
    &__btn {
        display: block;
        font-family: "Roboto Slab";
        font-size: 18px;
        letter-spacing: 0.72px;
        padding: 15px 40px 14px 44px;
        border-radius: 3px;
        background-image: linear-gradient(to left, rgba(101, 228, 206, 0.7) 0%, rgba(101, 228, 161, 0.7) 100%);
        box-shadow: 0 2px 0 rgba(101, 228, 125, 0.5);
        text-decoration: none;
        color: $light-color;
        margin-left: -32px;
        margin-top: 9px;
        margin-bottom: 24px;
        border: none;
        outline: none;
        cursor: pointer;
    }
}

.block-other-books {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    margin-top: 86px;
    margin-bottom: 83px;
    &-item {
        justify-self: center;
        &_center {
            padding: 0 20px 0 20px;
        }
    }
    &-demo {
        display: block;
        position: relative;
        margin: 0 auto;
        width: 269px;
        height: 409px;
        background-image: url(../img/book-small.svg);
        background-repeat: no-repeat;
        background-size: count;
        &__title {
            position: absolute;
            top: 69px;
            left: 75px;
            color: $light-color;
            font-size: 24px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.96px;
            &_right {
                left: 71px;
            }
            span {
                display: block;
                color: $accent-color;
                font-family: "Open Sans";
                font-size: 12px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0.6px;
                text-transform: none;
                padding-top: 6px;
                margin-left: -6px;
            }
            &_right > span {
                margin-left: 0;
            }
        }
        &__author {
            position: absolute;
            display: block;
            left: 80px;
            bottom: 34px;
            color: $accent-color;
            font-family: "Open Sans";
            font-size: 12px;
            letter-spacing: 0.6px;
        }
    }
    &-describe {
        margin-top: 34px;
        text-align: center;
        width: 320px;
        &__title {
            color: $title-color;
            font-size: 24px;
            font-weight: 700;
            letter-spacing: 1.2px;
            margin-bottom: 15px;
        }
        &__description {
            font-family: "Open Sans";
            font-size: 15px;
            line-height: 24px;
            letter-spacing: 0.75px;
            margin-bottom: 17px;
        }
        &__link {
            display: block;
            text-decoration: none;
            color: $accent-color;
            text-transform: uppercase;
            font-family: "Open Sans";
            font-size: 15px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0.75px;
        }
    }
}

.block-blog {
    display: flex;
    justify-content: space-between;
    margin-top: 87px;
    &-item {
        flex-basis: 369px;
        &__title {
            color: $title-color;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 0.9px;
            padding-top: 15px;
        }
        &__author {
            font-family: "Open Sans";
            font-size: 15px;
            letter-spacing: 0.75px;
            padding-top: 9px;
            span {
                color: $accent-color;
            }
        }
        &__description {
            font-family: "Open Sans";
            font-size: 15px;
            letter-spacing: 0.75px;
            line-height: 24px;
            padding-top: 15px;
        }
    }
}
